body{
	background-color:white;
}

#wolfcage-container{
    position:relative;
    top:10px;
    background-color:white;
}

#wolfcage-container:after{
    clear: both;
    content: "";
    display: table;
}

#wolfcage-tab-container{
    font-weight:bold;
    border-bottom:2px solid black;
}

#wolfcage-tab-container > li > a{
    line-height:1;
}

#wolfcage-tab-container > li.active > a{
    border-left:2px solid black;
    border-top:2px solid black;
    border-right:2px solid black;
    margin-bottom:-2px;
    border-radius:0;
}

#wolfcage-tab-container > li > a:hover{
    border-color:white;
    padding-bottom:0px;
    border-radius:0;
    background-color:white;
}

#wolfcage-tab-container > li.active > a:hover{
    border-left:2px solid black;
    border-top:2px solid black;
    border-right:2px solid black;
    margin-bottom:-2px;
    border-radius:0;
    padding-bottom:10px;
}



#wolfcage-generatemessage-container{
    position:relative;
    float:left;
    top:0px;
    width:700px;
    display:none;
}

#wolfcage-board-container{
	position:relative;
    float:left;
}

#wolfcage-board{
	position:absolute;
    border-top:1px solid black;
	border-left:1px solid black;
    width:756px;
    height:376px;
}

.wolfcage-board-cell{
	position:absolute;
	width:5px;
	height:5px;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

.wolfcage-board-cell-active{
	background-color:black;
}

#wolfcage-colorpicker{
    display:none;
}

fieldset.wolfcage-colorpicker-container{
    float:left;
    margin:5px;
    border:1px solid black;
    padding:15px;
}

#wolfcage-colorpicker-cell{
    width:150px;
}

#wolfcage-colorpicker-border{
    width:150px;
}

#wolfcage-generator-container{
    position:relative;
    min-height:200px;
}

#wolfcage-generator-options{
	position:relative;
    float:left;
	top:0px;
	left:15px;
	width:755px;
    margin-bottom:5px;
}

.wolfcage-generator-box{
    position:relative;
    float:left;
    padding:5px;
}

#wolfcage-generator-board{
    position:relative;
    float:left;
    left:15px;
    top:0px;
    width:800px;
    height:375px;
}

#wolfcage-rules-preview-container{
	position:relative;
	float:right;
	height:40px;
    padding:5px;
}

.wolfcage-generator-preview-cell{
	position:absolute;
	width:10px;
	height:10px;
	border:1px solid black;
}

.wolfcage-generator-preview-cell-left{
	left:0px;
}
.wolfcage-generator-preview-cell-middle{
	left:10px;
}
.wolfcage-generator-preview-cell-right{
	left:20px;
}
.wolfcage-generator-preview-digit{
	position:absolute;
	left:24px;
	font-size:10px;
}
.wolfcage-generator-preview-cell-active{
	background-color:black;
}
.wolfcage-generator-preview-box{
	position:relative;
    float:left;
	width:40px;
	height:30px;
	
}
.wolfcage-generator-preview-triple-cell-container{
	position:relative;
	width:30px;
	height:10px;
}
.wolfcage-generator-preview-result-cell-container{
	position:relative;
	width:30px;
	height:20px;
	padding-top:5px;
	padding-bottom:5px;
}


.wolfcage-rulethumb-box{
    position:relative;
    float:left;
    padding:0px 5px 5px 0px;
    margin:0 0;
    cursor:pointer;
}

.wolfcage-rulethumb-img{
    width:150px;
    padding:0 0;
    margin:0 0;
}

.wolfcage-rulethumb-rulenum{
    position:absolute;
    /*right:0px;
    bottom:0px;
    */
    width:28px;
    left:5px;
    top:5px;
    height:20px;
    background-color:#fdf9f3;
    margin:0px 10px 10px 0px;
    padding-top:2px;
    padding-bottom:2px;
    text-align:center;
    font-family:sans-serif;
    font-size:12px;
    border-radius:6px;
}

#rowed-container{
    position:relative;
    float:left;
    height:175px;
}

#rowed-slider-container{
	position:relative;
	border:1px solid black;
	height:100px;
}

#rowed-slider{
	position:absolute;
	background-color:#f7fde1;
	height:98px;
    border-left:1px solid black;
    border-right:1px solid black;
    font-size:24px;
    cursor:pointer;
}

#rowed-slider-arrow-left{
    display:none;
    position:relative;
    float:left;
    top:62px;
    left:15px;
    color:gray;
}

#rowed-slider-arrow-right{
    display:none;
    position:relative;
    float:right;
    top:62px;
    right:15px;
    color:gray;
}

#rowed-slider-row-container{
	position:absolute;
	top:47px;
	left:0px;
	border-top:1px solid black;
	border-left:1px solid black;
}

#rowed-editor-container{
	position:absolute;
	top:120px;
	height:40px;
}

#rowed-button-container{
    position:absolute;
    top:162px;
    left:0px;
    width:755px;
    text-align:center;
}

.rowed-editor-cell{
	position:absolute;
	width:29px;
	height:29px;
	border:1px solid black;
	text-align:center;
	font-size:small;
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

.rowed-editor-cell-active{
	background-color:black;
	color:white;
}