<fieldset class="wolfcage-colorpicker-container">
    <legend>Active Cell Color2</legend>
    <span id="wolfcage-colorpicker-active"></span>
    <br/>
    <input type="text" 
           class="wolfcage-colorpicker-hexinput"
           id="wolfcage-colorpicker-active-hex"/>
</fieldset>
<fieldset  class="wolfcage-colorpicker-container">
    <legend>Border Color</legend>
    <div id="wolfcage-colorpicker-border"></div>
    <br/>
    <input type="text" 
           class="wolfcage-colorpicker-hexinput"
           id="wolfcage-colorpicker-border-hex"/>
</fieldset>
<fieldset  class="wolfcage-colorpicker-container">
    <legend>Inactive Cell Color</legend>
    <div id="wolfcage-colorpicker-inactive"></div>
    <br/>
    <input type="text" 
           class="wolfcage-colorpicker-hexinput" 
           id="wolfcage-colorpicker-inactive-hex"/>
</fieldset>