<div id="wolfcage-generator-container">
  <div id="wolfcage-generator-options" class="well">
    <div class="wolfcage-generator-box">
      <div class="form-inline">
        Rule&nbsp;
        <select id="wolfcage-generator-select-input" class="form-control input-sm"></select> &nbsp;
        <button id="wolfcage-generator-colorpicker-button" class="btn btn-default btn-sm">Color Picker</button>
      </div>
    </div>

    <div id="wolfcage-rules-preview-container"></div>
    <div class="wolfcage-generator-box" style="float:right;"></div>
    <div id="wolfcage-generatemessage-container">Generating Cellular Automata...</div>
    <div id="wolfcage-colorpicker" class="cp cp-small"></div>
  </div>
  <div id="wolfcage-generator-board"></div>
</div>