<div class="wolfcage-colorpicker-container">
    <div class="wolfcage-colorpicker-container-title">Active Cell</div>
    <div id="wolfcage-colorpicker-active"></div>
    <input type="text" class="wolfcage-colorpicker-hexinput" id="wolfcage-colorpicker-active-hex" />
</div>
<div class="wolfcage-colorpicker-container">
    <div class="wolfcage-colorpicker-container-title">Cell Border</div>
    <div id="wolfcage-colorpicker-border"></div>
    <input type="text" class="wolfcage-colorpicker-hexinput" id="wolfcage-colorpicker-border-hex" />
</div>
<div class="wolfcage-colorpicker-container">
    <div class="wolfcage-colorpicker-container-title">Inactive Cell</div>
    <div id="wolfcage-colorpicker-inactive"></div>
    <input type="text" class="wolfcage-colorpicker-hexinput" id="wolfcage-colorpicker-inactive-hex" />
</div>