<div class="wolfcage-generator-preview-box" >
    <div class="wolfcage-generator-preview-triple-cell-container">
        <div class="wolfcage-generator-preview-cell wolfcage-generator-preview-cell-left {{#leftBitActive}}wolfcage-generator-preview-cell-active{{/leftBitActive}}"></div>
        <div class="wolfcage-generator-preview-cell wolfcage-generator-preview-cell-middle {{#middleBitActive}}wolfcage-generator-preview-cell-active{{/middleBitActive}}"></div>
        <div class="wolfcage-generator-preview-cell wolfcage-generator-preview-cell-right {{#rightBitActive}}wolfcage-generator-preview-cell-active{{/rightBitActive}}"></div>
    </div>
    <div class="wolfcage-generator-preview-result-cell-container">
        <div id="wolfcage-generator-preview-{{previewIndex}}"
            class="wolfcage-generator-preview-cell wolfcage-generator-preview-cell-middle"></div>
        <div id="wolfcage-generator-preview-digit-{{previewIndex}}"
            class="wolfcage-generator-preview-digit"></div>
    </div>
</div>