<fieldset class="wolfcage-colorpicker-container"><legend>Active Cell Color</legend>
    <span id="wolfcage-colorpicker-active"></span>
</fieldset>
<fieldset  class="wolfcage-colorpicker-container"><legend>Border Color</legend>
    <div id="wolfcage-colorpicker-border"></div>
</fieldset>
<fieldset  class="wolfcage-colorpicker-container"><legend>Inactive Cell Color</legend>
    <div id="wolfcage-colorpicker-inactive"></div>
</fieldset>