<li role="presentation" 
    class="active" 
    id="wolfcage-tab-thumbnails" 
    data-tab-module="thumbnails"><a href="#">Thumbnails</a></li>
<li role="presentation" 
    id="wolfcage-tab-toproweditor" 
    data-tab-module="toproweditor"><a href="#">Top Row Editor</a></li>
<li role="presentation" 
    id="wolfcage-tab-generator" 
    data-tab-module="generator"><a href="#">Generator</a></li>