{{#ruleList}}
<div class="wolfcage-rulethumb-box"
     data-rule="{{ . }}">
    <img src="{{ path }}rule_{{ . }}.png"
        class="wolfcage-rulethumb-img"
        data-rule="{{.}}"/>
    <div class="wolfcage-rulethumb-rulenum">{{.}}</div>
</div>
{{/ruleList}}