<div id="rowed-container">
    <div id="rowed-slider-container">
        <div id="rowed-slider"
                data-toggle="tooltip"
                data-placement="right"
                title="Click to Start Dragging">
            <div id="rowed-slider-arrow-left"
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"></div>
            <div id="rowed-slider-arrow-right"
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"></div>
        </div>
        
        <div id="rowed-slider-row-container"></div>
    </div>
    <div id="rowed-editor-container"></div>
    <div id="rowed-button-container">
        <button id="rowed-button-generate"
                class="btn btn-default btn-sm">Generate</button>
        &nbsp;&nbsp;&nbsp;
        <button id="rowed-button-resetrow"
                class="btn btn-default btn-sm">Reset Row</button>
    </div>
</div>