$montagePath: url("thumbs.png");
$width: 790px;
$fontFamily: Arial,
Sans-Serif;
$borderColor: #3e3e3e;

#wolfcage-wrapper {
    position: absolute;
    background-color: #fff;
    width: $width;
    height: 642px;
}

#wolfcage-container {
    position: relative;
    background-color: white;
    padding: 5px 5px 15px 0px;
    border-left: 2px solid $borderColor;
    border-right: 2px solid $borderColor;
    border-bottom: 2px solid $borderColor;
    box-sizing: border-box;
    width: 790px;
    z-index: 1;

    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

ul#wolfcage-tab-container {
    font-weight: bold;
    border-bottom: 2px solid $borderColor;
    width: 780px;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 10px;

    li {
        display: inline;
        border-top: 2px solid $borderColor;
        border-left: 2px solid $borderColor;
        border-right: 2px solid $borderColor;
        padding: 3px 6px 2px 6px;
        line-height: 20px;
        margin-right: 4px;
        color: blue;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    li.active {
        border-bottom: 3px solid white;
        color: black;
    }
}

// Veil and Modal
#wolfcage-veil {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0.8;
    background-color: #000;
    z-index: 10;
}

$modalHeight: 470px;
$modalHeaderHeight: 26px;

#wolfcage-modal {
    position: absolute;
    visibility: hidden;
    opacity: 1;
    z-index: 11;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: $modalHeight;
    max-width: 700px;
    top: 40px;
    border-radius: 6px;
}

#wolfcage-modal-body {
    overflow-y: scroll;
    height: $modalHeight - $modalHeaderHeight;
}

#wolfcage-modal-header {
    height: $modalHeaderHeight;
    line-height: $modalHeaderHeight;
    font-size: 18px;
    font-weight: bold;
    font-family: $fontFamily;
}

#wolfcage-modal-title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 5px;
}

#wolfcage-modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    padding: 0px 8px 0px 0px;
}

#wolfcage-generatemessage-container {
    position: relative;
    float: left;
    top: 0px;
    width: 700px;
    display: none;
}

#wolfcage-board-container {
    position: relative;
    float: left;
}

#wolfcage-board {
    position: absolute;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 755px;
    height: 375px;
}

.wolfcage-board-cell {
    position: absolute;
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-color: black;
    border-bottom-color: black;
}

.wolfcage-board-cell-active {
    background-color: black;
}

#wolfcage-colorpicker {
    display: none;
    margin-left: 100px;
}

#wolfcage-colorpicker legend {
    border-bottom: none;
    margin-bottom: 0px;
}

div.wolfcage-colorpicker-container {
    position: relative;
    float: left;
    margin: 5px;
    border: 1px solid black;
    padding: 15px;
    width: 153px;
    text-align: center;
}

div.wolfcage-colorpicker-container-title {
    font-weight: bold;
}

#wolfcage-colorpicker-cell {
    width: 153px;
}

#wolfcage-colorpicker-border {
    width: 153px;
}

input.wolfcage-colorpicker-hexinput {
    width: 70px;
    margin-top: 4px;
}

#wolfcage-generator-container {
    position: relative;
    min-height: 200px;
}

#wolfcage-generator-options {
    position: relative;
    float: left;
    top: 0px;
    left: 15px;
    width: 755px;
    margin-bottom: 5px;
}

.wolfcage-generator-box {
    position: relative;
    float: left;
    padding: 5px;
}

#wolfcage-generator-board {
    position: relative;
    float: left;
    left: 15px;
    top: 0px;
    width: 800px;
    height: 375px;
}

#wolfcage-rules-preview-container {
    position: relative;
    float: right;
    height: 40px;
    padding: 5px;
}

.wolfcage-generator-preview-cell {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

.wolfcage-generator-preview-cell-left {
    left: 0px;
}

.wolfcage-generator-preview-cell-middle {
    left: 10px;
}

.wolfcage-generator-preview-cell-right {
    left: 20px;
}

.wolfcage-generator-preview-digit {
    position: absolute;
    left: 24px;
    font-size: 10px;
}

.wolfcage-generator-preview-cell-active {
    background-color: black;
}

.wolfcage-generator-preview-box {
    position: relative;
    float: left;
    width: 40px;
    height: 30px;
}

.wolfcage-generator-preview-triple-cell-container {
    position: relative;
    width: 30px;
    height: 10px;
}

.wolfcage-generator-preview-result-cell-container {
    position: relative;
    width: 30px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#wolfcage-colorbuttons-container {
    position: relative;
    float: left;
}

.wolfcage-colorbuttons {
    font-size: 12px;
    line-height: 20px;
    height: 24px;
    vertical-align: middle;
    padding: 0px 6px 0px 6px;
    width: 140px;
    text-align: left;
    margin-top: 2px;
}

#wolfcage-colorsmodal-blocks-container {
    width: 576px;
    height: 576px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.wolfcage-colorsmodal-block {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

#wolfcage-thumbnailsmodal-montage-container {
    width: 616px;
    height: 5056px;
    background-image: $montagePath;
}

.wolfcage-thumbnailsmodal-rulethumb-box {
    position: relative;
    float: left;
    width: 154px;
    height: 79px;
    margin: 0 0;
    cursor: pointer;
}

.wolfcage-thumbnailsmodal-rulethumb-rulenum {
    position: absolute;
    width: 28px;
    left: 5px;
    top: 5px;
    line-height: 20px;
    height: 20px;
    background-color: #fdf9f3;
    margin: 0px 10px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 6px;
}

#wolfcage-rulepreview-mask {
    position: relative;
    float: left;
    background-image: $montagePath;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 616px 5056px;
    height: 79px;
    width: 154px;
    cursor: pointer;
}

#wolfcage-rulepreview-rulenum {
    position: absolute;
    left: 5px;
    top: 5px;
    line-height: 14px;
    height: 14px;
    background-color: #fdf9f3;
    margin: 0px 10px 10px 0px;
    padding: 2px 4px 2px 4px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

#wolfcage-rulepreview-text {
    position: absolute;
    right: 5px;
    bottom: 5px;
    line-height: 14px;
    height: 14px;
    background-color: #fdf9f3;
    padding: 2px 4px 2px 4px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 4px;
}


/** Row Editor -- rowed **/

#wolfcage-rowed-container {
    position: relative;
    float: left;
    height: 205px;
    margin-left: 12px;
    margin-top: 5px;
}


$sliderHeight: 100px;

#wolfcage-rowed-slider-container {
    position: relative;
    border: 1px solid black;
    height: $sliderHeight;
}

#wolfcage-rowed-slider {
    position: absolute;
    background-color: #f7fde1;
    height: $sliderHeight;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 24px;
    cursor: pointer;
}

#wolfcage-rowed-slider-text {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    line-height: 14px;
    height: 14px;
    background-color: #fdf9f3;
    padding: 2px 4px 2px 4px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    user-select: none;
}


#wolfcage-rowed-slider-row-container {
    position: absolute;
    top: 47px;
    width: 755px;
    left: 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#wolfcage-rowed-editor-container {
    position: absolute;
    top: 120px;
    height: 40px;
}

#wolfcage-rowed-button-container {
    position: absolute;
    top: 162px;
    left: 0px;
    width: 755px;
    text-align: center;
}

.wolfcage-rowed-editor-cell {
    position: absolute;
    width: 29px;
    height: 29px;
    border: 1px solid black;
    text-align: center;
    font-size: small;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.wolfcage-rowed-editor-cell-active {
    background-color: black;
    color: white;
}

#wolfcage-rowed-help-container {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14px;
    top: 192px;
}