$width: 790px;

#wolfcage-wrapper {
    background-color: #fff;
    width: $width;
    height: 500px;
}

#wolfcage-container {
    position: relative;
    background-color: white;
    padding: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    width: 790px;
    z-index: 1;

    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

ul#wolfcage-tab-container {
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 790px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 10px;

    li {
        display: inline;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        padding: 2px 4px 2px 4px;
        line-height: 20px;
        margin-right: 4px;
        color: blue;
        cursor: pointer;
    }

    li.active {
        border-bottom: 2px solid white;
        color: black;
    }
}

// Veil and Modal
#wolfcage-veil {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.8;
    background-color: #000;
    z-index: 10;
}

#wolfcage-modal {
    position: absolute;
    display: none;
    opacity: 1;
    z-index: 11;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-height: 380px;
    max-width: 600px;
    top: 40px;
    overflow-y: scroll;
}

#wolfcage-generatemessage-container {
    position: relative;
    float: left;
    top: 0px;
    width: 700px;
    display: none;
}

#wolfcage-board-container {
    position: relative;
    float: left;
}

#wolfcage-board {
    position: absolute;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 756px;
    height: 376px;
}

.wolfcage-board-cell {
    position: absolute;
    width: 5px;
    height: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.wolfcage-board-cell-active {
    background-color: black;
}

#wolfcage-colorpicker {
    display: none;
    margin-left: 100px;
}

#wolfcage-colorpicker legend {
    border-bottom: none;
    margin-bottom: 0px;
}

div.wolfcage-colorpicker-container {
    position: relative;
    float: left;
    margin: 5px;
    border: 1px solid black;
    padding: 15px;
    width: 153px;
    text-align: center;
}

div.wolfcage-colorpicker-container-title {
    font-weight: bold;
}

#wolfcage-colorpicker-cell {
    width: 153px;
}

#wolfcage-colorpicker-border {
    width: 153px;
}

input.wolfcage-colorpicker-hexinput {
    width: 70px;
    margin-top: 4px;
}

#wolfcage-generator-container {
    position: relative;
    min-height: 200px;
}

#wolfcage-generator-options {
    position: relative;
    float: left;
    top: 0px;
    left: 15px;
    width: 755px;
    margin-bottom: 5px;
}

.wolfcage-generator-box {
    position: relative;
    float: left;
    padding: 5px;
}

#wolfcage-generator-board {
    position: relative;
    float: left;
    left: 15px;
    top: 0px;
    width: 800px;
    height: 375px;
}

#wolfcage-rules-preview-container {
    position: relative;
    float: right;
    height: 40px;
    padding: 5px;
}

.wolfcage-generator-preview-cell {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

.wolfcage-generator-preview-cell-left {
    left: 0px;
}

.wolfcage-generator-preview-cell-middle {
    left: 10px;
}

.wolfcage-generator-preview-cell-right {
    left: 20px;
}

.wolfcage-generator-preview-digit {
    position: absolute;
    left: 24px;
    font-size: 10px;
}

.wolfcage-generator-preview-cell-active {
    background-color: black;
}

.wolfcage-generator-preview-box {
    position: relative;
    float: left;
    width: 40px;
    height: 30px;
}

.wolfcage-generator-preview-triple-cell-container {
    position: relative;
    width: 30px;
    height: 10px;
}

.wolfcage-generator-preview-result-cell-container {
    position: relative;
    width: 30px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#wolfcage-thumbmontage-container {
    width: 616px;
    height: 5056px;
    background-image: url("thumbs.png");
}

.wolfcage-thumbmontage-rulethumb-box {
    position: relative;
    float: left;
    width: 154px;
    height: 79px;
    margin: 0 0;
    cursor: pointer;
}

.wolfcage-rulethumb-rulenum {
    position: absolute;
    width: 28px;
    left: 5px;
    top: 5px;
    line-height: 20px;
    height: 20px;
    background-color: #fdf9f3;
    margin: 0px 10px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 6px;
}

#rowed-container {
    position: relative;
    float: left;
    height: 195px;
}

#rowed-slider-container {
    position: relative;
    border: 1px solid black;
    height: 100px;
}

#rowed-slider {
    position: absolute;
    background-color: #f7fde1;
    height: 98px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 24px;
    cursor: pointer;
}

#rowed-slider-arrow-left {
    display: none;
    position: relative;
    float: left;
    top: 62px;
    left: 15px;
    color: gray;
}

#rowed-slider-arrow-right {
    display: none;
    position: relative;
    float: right;
    top: 62px;
    right: 15px;
    color: gray;
}

#rowed-slider-row-container {
    position: absolute;
    top: 47px;
    left: 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#rowed-editor-container {
    position: absolute;
    top: 120px;
    height: 40px;
}

#rowed-button-container {
    position: absolute;
    top: 162px;
    left: 0px;
    width: 755px;
    text-align: center;
}

.rowed-editor-cell {
    position: absolute;
    width: 29px;
    height: 29px;
    border: 1px solid black;
    text-align: center;
    font-size: small;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.rowed-editor-cell-active {
    background-color: black;
    color: white;
}